<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido | Diario Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
    <style>
      .banner-image {
        width: 100%; /* Set the width to 100% of its container */
        height: auto; /* Maintain the aspect ratio */
        max-width: 600px; /* Set a maximum width for the image */
        max-height: 200px; /* Set a maximum height for the image */
      }
      ul {
        list-style: none;
        padding: 0;
      }
      li.con_linea {
        border-bottom: 1px solid #ccc; /* Ajusta el estilo y color de la barra divisora según tus preferencias */
        padding: 8px; /* Ajusta el espaciado interno según tus preferencias */
      }
    </style>
  </head>
  <body>
<!-- Start Top Bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><%= user.autorTipo %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <% if (user.autorTipo === 'Invitado') { %>
        <li><a href="/login">Acceso</a></li>
      <% } else if (user.autorTipo === 'admin') { %>
        <li><a href="/administracion">Administrar</a></li>
      <% } %>
        <% if (user.autorTipo !== 'Invitado') { %>
        <li><a href="/">Cerrar Sesion</a></li>
      <% } %>
    </ul>
  </div>
</div>
<!-- End Top Bar -->

    <div class="callout large primary">
      <div class="text-center">
        <h1>Diario web</h1>
      </div>
    </div>
    <section class="grid-container">
      <div class="grid-x grid-margin-x" id="content">
        <div class="medium-9 cell">
            <h1>Lista de Publicaciones</h1>
            <ul id="publicaciones-container">
                <!-- Publicaciones se cargan -->
            </ul>
        </div>
        <aside class="medium-3 cell" data-sticky-container="">
          <div class="sticky" data-sticky="" data-anchor="content">
            <h4>Categorias</h4>
            <ul id="categoria-container">
                <% categorias.forEach(categoria => { %>
                <!-- Categorías se cargan -->
                    <li class="con_linea"><a href="/categoria/<%= categoria.id %>"><%= categoria.Nombre %> </a></li>
                <% }); %>
            </ul>
            <h4>Autores</h4>
            <ul id="autor-container">
                <% autores.forEach(autor => { %>
                <!-- Autores se cargan -->
                    <li class="con_linea"><a href="/autor/<%= autor.ID %>"><%= autor.Nombre %> <%= autor.Apellido %></a></li>
                <% }); %>
            </ul>
            <% if (user.autorTipo !== 'Invitado') { %>
                <h4>Aportar</h4>
                <ul id="crear-container">
                    <li class="con_linea"><a href="/crearPublicacion">Agregar publicaciones</a></li>
                </ul>
            <% } %>
          </div>
        </aside>
      </div>
      <div>
        <ul class="pagination" role="navigation" aria-label="Pagination" id="pagination-container">
        </ul>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
    <script>
        function formatDate(dateString) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const date = new Date(dateString);
            const formattedDate = date.toLocaleDateString('es-ES', options);
            return formattedDate;
        }
    </script>
    <script>
        function getCommentText(commentCount) {
            if (commentCount === 0) {
                return "Sin comentarios";
            } else if (commentCount === 1) {
                return "Hay 1 comentario";
            } else {
                return `Hay ${commentCount} comentarios`;
            }
        }
    </script>
    <script>
        // Función para cargar más publicaciones mediante AJAX
        function cargarMasPublicaciones(page) {
            $.ajax({
                url: '/publicaciones/paginadas?page=' + page,
                type: 'GET',
                success: function (data) {
                    const publicaciones = data.publications;
                    const totalPages = data.totalPages;
                    const categorias = data.categorias;
                    const autores = data.autores;
                    const comentarios = data.comentarios;

                    // Limpia el contenedor de publicaciones
                    $('#publicaciones-container').empty();

                    // Agrega las publicaciones al contenedor
                    publicaciones.forEach(function (publicacion) {
                        const textoRecortado = publicacion.Texto.length > 300 ? publicacion.Texto.substring(0, 300) + "..." : publicacion.Texto;
                        const categoria = categorias.find(c => c.id === publicacion.categoriaId);
                        const autor = autores.find(c => c.ID === publicacion.autorId);
                        const comentariosPublicacion = comentarios.filter(c => c.publicacionId === publicacion.ID);
                        console.log("DEBUG: ", comentariosPublicacion);

                        $('#publicaciones-container').append(
                            `<li class="con_linea">
                                <h2><strong><a href="/publicacion_completa/${publicacion.ID} ">${publicacion.Titulo}</a></strong></h2>
                                <p><img src="${publicacion.Imagen}" class="banner-image"
                                onerror="this.src='https://static.vecteezy.com/system/resources/thumbnails/000/701/690/small/abstract-polygonal-banner-background.jpg';"></p>
                                <p>Publicado el ${formatDate(publicacion.Fecha)}</p>
                                <p>Categoria: <a href="/categoria/${publicacion.categoriaId}">${categoria.Nombre}</a></p>
                                <p>Publicado por <a href="/autor/${publicacion.autorId}">${autor.Nombre} ${autor.Apellido}</a></p>
                                <p>${getCommentText(comentariosPublicacion.length)}</p>
                                <p><strong>Resumen:</strong> ${textoRecortado}</p>
                            </li>`
                        );
                    });
                    // Limpia el contenedor de paginación
                    $('#pagination-container').empty();

                    // Agrega la barra de paginación
                    for (let i = 1; i <= totalPages; i++) {
                        $('#pagination-container').append(
                            `<li><button class="page-link" data-page="${i}">${i}</button></li>`
                        );
                    }

                    // Agrega el manejador de eventos a los botones de la paginación
                    $('.page-link').on('click', function () {
                        const page = $(this).data('page');
                        cargarMasPublicaciones(page);
                    });
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        // Carga las primeras 5 publicaciones al cargar la página
        cargarMasPublicaciones(1);
    </script>
  </body>
</html>